.bookingModal {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  .blanket {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal_container {
    display: grid;
    padding: 2em 1em 1em;
    background-color: whitesmoke;
    z-index: 50;
    position: relative;
    min-height: 10rem;

    .close {
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
      right: 3.5%;
      top: 3%;
    }

    > p {
      align-self: center;
    }

    > button {
      justify-self: center;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}

.rItem {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 0.3rem;
}

.rSelectRooms {
  display: flex;
  gap: 0.5rem;

  .room {
    display: flex;
    flex-direction: column;
  }

  input:disabled {
    opacity: 0.5;
  }
}
