.featured {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  padding-top: 2rem;
  gap: 1.2em;
  width: 100%;
}

.featured__item {
  width: 25%;
  max-height: 160px;
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }

  .titles {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1rem;
    font-weight: 100;
    h1 {
      font-size: 1.5em;
      font-weight: 300;
      text-transform: capitalize;
    }
    h2 {
      font-size: 1em;
      font-weight: 200;
    }
  }
}
