@use "../../variables" as v;

.navbar {
  padding: 1rem 0.2rem;
  // background-color: v.$blue-violet-crayola;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 500;
  transition: all 0.2s ease-in-out;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: max-content;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  .icon {
    width: 2rem;
    height: 2rem;
  }
  span {
    color: v.$light_red;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
  text-transform: capitalize;
  a {
    display: flex;
    text-decoration: none;
  }
  button {
    background-color: v.$lighter_red;
    border: 1px solid v.$light_red;
    border-radius: 8px;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: v.$light_red;
    }
    &:active {
      background-color: darken(gray, 0.1%);
      transform: translateY(2px);
    }
  }
  span {
    user-select: none;
  }
}

.navbar_fill {
  background-color: v.$main_grey;
}
