.fl_header {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 2rem;
  width: 100%;
}

.featuredL {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  gap: 1.2em;
  width: 100%;
}

.featured__item {
  width: 25%;
  max-height: 160px;
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  .f_imageWrapper {
    > img {
      width: 100%;
      object-fit: cover;
      height: 160px;
      transition: all 0.3s;
    }
  }

  .titles {
    position: absolute;
    inset: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 100;
    padding: 0.5rem;
    background: linear-gradient(#ffffff00 30%, #000000ad);
    transition: all 0.3s;

    &:hover {
      background: linear-gradient(#ffffff00 30%, #000000d5);
    }

    h1 {
      font-size: 1.5em;
      font-weight: 300;
      text-transform: capitalize;
    }
    h2 {
      font-size: 1em;
      font-weight: 200;
    }
  }
}
