.fl_header {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 2rem;
  width: 100%;
}

.featuredL {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  gap: 1.2em;
  width: 100%;
}

.featured__item {
  width: 25%;
  max-height: 160px;
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  .f_imageWrapper {
    filter: brightness(0.5);
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: brightness(0.9);
    }

    > img {
      width: 100%;
      object-fit: cover;
      height: 160px;
    }
  }

  .titles {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1rem;
    font-weight: 100;
    h1 {
      font-size: 1.5em;
      font-weight: 300;
      text-transform: capitalize;
    }
    h2 {
      font-size: 1em;
      font-weight: 200;
    }
  }
}
