$dark-sky-blue: #474250;
$blue-violet-crayola: #1e183f;
$cyber-grape: #474250;
$palatinate-purple: #474250;
$raisin-black: #474250;

$main_grey: #303443;
$light_red: #fc4c4c;
$lighter_red: rgba(252, 76, 76, 0.7);
